<div class="middle">
	<div style="padding:10px 10px 10px 10px;"> <!-- I'm guessing this is going to be the navigation bar? -->
	<br>
	
	<div class="leftColumn">
	  <p>Coming soon!</p>
	</div>

	<!-- Work in progress
	<div class="sideInfo">
		<h2>Recently Viewed</h2> &nbsp adds a single space

		<% 20.times do %>
			<br>
		<% end %>
		<h2>Recommendations</h2>>
	</div> -->
</div>
<div id="bottom">
	<%= link_to "About", about_path %>
</div>