/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "homePage";
 @import 'movies';
 @import 'forem/base';

.top_bar{
 	background-color: #363636;
 	width:80em;
 	height: 7.5em;
 	margin: auto;
 	border-right: 3px solid black;
 	border-left: 3px solid black;
	border-radius: 5px;
 }

.header{ /*used by both sessions and user models*/
	margin-top: 50px;
	margin-left: 30%; 
	display:inline-block;
}

#title{
	padding-bottom: 0.5em;
	color: white;
	font-size: 50px;
	float:left;
}

.middle{
	width: 80em;
	height: auto;
	border-bottom: 3px solid black;
 	border-right: 3px solid black;
 	border-left: 3px solid black;
	border-radius: 5px;
	background-color: #A1A1A1;
	margin: auto;
	position: relative;

}

#logLoc{/*location of login button*/
 	font-size: 20px;
 	float: right;
 	clear: right;
 	margin-right: 1em;
 	margin-top: 0.2em;
}

body {
  background-color: #1B1B1B;
  //font-family: verdana, arial, helvetica, sans-serif;
  //font-size: 13px;
}

#logo{
  color: #FFFFFF;
  // text-transform: uppercase;
  text-decoration: none;
}

a.loginLink {

  color: white;
  text-decoration: none;

  &:hover {
    color: #993366;
  }
}

.bottom{
	background-color: #363636;
 	width:80em;
 	margin-bottom: 10em;
 	margin-top: 3em;
}

#menu {
	width:79.6em;
 	height: 3.5em;
 	margin: auto;
	background-color: black;
	z-index: 0;
	position: absolute;
}

.logButton {
	margin-right: 7em;
	display: block;
	height: 40px;
	width: 150px;
	background: black;
	border: 2px solid rgba(33, 68, 72, 0.59);
	z-index: 1;

	color: white;
	text-align: center;
	font: bold 1.2em "sans-serif", Arial, Geneva, Helvetica Neue;
}

.logButton:hover {
	text-decoration: none;
}

img.IMG1 {
	height: 250px;
	width: 170px;
	display: block;
}
