//will only put movie posters(main area)
//top rated movies list and coming soon movies stuff (right side)
//in here



/*
.leftColumn {
	display: table-cell;
	padding-right: 1em;
	padding-left: 1em;
	height: 80em;
	width: 70em;
	background: #A1A1A1;
}*/

/*
.sideInfo {
	background: #A1A1A1;
	height: 80em;
	width: 40em;
	display: table-cell;
	padding-left: 1em;
	border-left: 1px solid gray;
}
*/

.hottest {
	background: #A1A1A1;
	position: absolute;
	height: 20em;
	width: 77.3em;
	border: 1px solid gray;
	overflow: hidden;
    white-space: nowrap;
}

.postersleft {
	background: #A1A1A1;
	position: absolute;
	height: 38em;
	width: 38em;
	border: 1px solid gray;
	overflow: hidden;
//    white-space: nowrap;
}

.right{
	background: Snow;
	position: absolute;
	height: 38em;
	width: 38em;
	float: right;
	border: 2px solid gray;
	overflow: hidden;
	border-radius: 0.4em;
	padding: 1em;
}

.rightColumn{
	margin-left: 39em;
	margin-top: -4em;
}

img {
	height: 250px;
	width: 170px;
	display: block;
}

.spacing {
	position: relative;
	top: 0.8em;
	left: 0.7em;
	
}


.posterSpace{
	margin-left: 2px; /* increase space betwen posters*/
}

.poster { /*increase size of picture*/
	display: inline-block;
	position: relative;
	margin-left: 0em;
}

.text {
	position: absolute;
	bottom: 0;
	left: 0;
	display: inline-block;
	padding: 15px 5px 5px;
	width: 171px;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 1.2em;
	text-shadow: rgba(0,0,0,0.8) 1px 1px 0;
	font-family: verdana, arial, sans-serif;

	background-image: url("http://cdn.myanimelist.net/images/image_box_shadow_bottom.png?v=151027001");
	background-position: left-bottom;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	white-space: pre-wrap;
}


