// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// show.html.erb
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

.tabledata{
	text-align: center;
	position: relative;
	margin-bottom: 7em;
	margin-top: 4em;
	margin-left: -3em;
	display:block;
	
}

.movImage {
	position: absolute;
	float: left;
}

.movSpacing {
	position: relative;
	margin-top: 10em;
	margin-left: 2em;
}

.movDescrip {
	position: relative;
	top: 3em;
	left: -1em;
	font-family: Arial, sans-serif;
	font-size: 20px;
	width: 30em;
	float: right;
	color: black;
}

.middle1 {
	height: 90em;
	width: 80em;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #A1A1A1;
	margin: auto;
	position: relative;
}

.container2 {
	background: #ccc;
	width: 75em;
	margin: auto;
}

table, th, td, tr, tbody{
	border: none;
}

.bar {
	width:31em;
	margin-top: 2em;
 	height: 2em;
 	font-size: 34px;
 	margin: auto;
	background-color: black;
	z-index: 0;
	position: absolute;
}

.options {
	margin-left: 12em; 
	margin-top: -16em;
}

.review {
	margin-top: 42em;
	margin-left: 4em;
	font-size: 18px;

}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// index.html.erb
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

#movieTable {
	border-spacing: 35px 20px;
	border-collapse: separate;
}

#movieBody tr{
	text-align: center;
	outline-style: solid;
	outline-width: 1px;
	outline-offset: 12px;
}

.moviePoster{
	text-align: left;
}

.moviePoster img{
	height: 120%;
	width: 120%;
	margin-bottom: 20px;
}

.item.card:nth-child(odd) {
	clear: left;
}

.item.poster.card {
	margin-bottom: 34px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.4);
	transition: all 0.3s ease-out;
}

.item.card {
	width: 483px;
}

.item.poster.card .image_content {
	float: left;
	width: 185px;
	margin-right: 13px;
}

.image_content {
	height: 278px;

}

.image_content {
	overflow: hidden;
}

.item.poster.card .info {
	float: left;
	width: 274px;
	height: 275px;
	position: relative;
}

.item.poster.card p a.title {
	max-width: 210px;
}

.item.card.poster p>a.title {
	line-height: 24px;
}

.item p
a.title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	float: left;
	font-family: Arial, sans-serif;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	font-weight: normal;
	background: transparent;
}

.item.card .overview {
	word-wrap: break-word;
	white-space: normal;
	color: black;
	line-height: 24px;
}

.overview {
	overflow: hidden;
	width: 250px;
	word-wrap: break-word; 
	text-overflow: ellipsis;
}

p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.item p {
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 4px 4px 0 4px;
}
