// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form{
	position:absolute;
	margin-left: 15%;
	padding: 10px 10px 10px 10px;
}

.welcome{
	font-size: 15px;
	position: absolute;
	float: right;
	margin-left: 90%;
	margin-right: 10px;
	margin-top: 90px;
	color: white;
}

//Error message for incorrect login
.login-invalid{
	position: absolute;
	color:red;
	margin: 5em 28em;
	font-size: 2.5em
}

.container1 {
	background: #1B1B1B;
	height: 40em;
	width: 40em;
	margin: auto;
	border: 1px solid gray;
	margin: auto;
	padding-bottom: 38em;
}

